.button {
  position: absolute;
  height: 120px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  font-size: 18px;
  color: white;
  transform: rotate(180deg);
  background-color: green;
  cursor: pointer;
  margin-top: 100px;
  right: 0;
  transition: 0.3s;
}

.schema {
  position: absolute;
  height: 100%;
  width: 35%;
  background-color: lightgrey;
  border-left: 5px solid green;
  right: 0;
  transform: translateX(100%);
  transition: 0.3s;
  overflow-y: scroll;
  overflow-x: scroll;
}

.opened {
  right: 35%;
}
