.button {
  position: absolute;
  height: 120px;
  writing-mode: vertical-rl;
  font-size: 22px;
  text-align: center;
  color: white;
  transform: rotate(180deg);
  background-color: green;
  cursor: pointer;
  margin-top: 100px;
  right: 0;
  transition: 0.3s;
}

.schema {
  position: absolute;
  height: 100%;
  width: 200px;
  background-color: lightgrey;
  border-left: 5px solid green;
  right: 0;
  transform: translateX(100%);
  transition: 0.3s;
}

.opened {
  right: 200px;
}
